@font-face {
    font-family: 'YourFontName';
    src: url("assets/fonts/Inter-VariableFont_slnt\,wght.ttf") format('truetype');
}
:root {
    --Inter-Regular: 'YourFontName', Inter-Regular;
    --Inter-Bold: 'YourFontName', Inter-Bold;
    --Inter-SemiBold: 'YourFontName', Inter-SemiBold;
    --Inter : "YourFontName", Inter;
  }
body{
    background-color: hsl(0, 0%, 8%);
}
.work-section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7rem;
}
.container{
    display: flex;
    background-color: hsl(0, 0%, 12%);
    align-items: center;
    justify-content: center;
    border-radius: 0.7rem;
    max-width: 400px;
    padding: 20px;
}
.con-img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.con-img img{
    max-width: 80px;
    border-radius: 100%;
}

.con-name{
    display: flex;
    align-items: center;
    justify-content: center;

}
.con-name h2{
    font-family: var(--Inter);
    color:hsl(0, 0%, 100%);
    font-weight: 400;
    margin-bottom: 0rem;
}
.con-city{
    display: flex;
    align-items: center;
    justify-content: center;
}
.con-city h2{
    font-family: var(--Inter);
    font-size: 14px;
    color:hsl(75, 94%, 57%);
    font-weight: 600;
    margin-top: 0.5rem;
}
.con-text{
    display: flex;
    align-items: center;
    justify-content: center;
}
.con-text p{
    font-family: var(--Inter);
    font-size: 14px;
    margin-bottom: 10%;
    color:hsl(0, 0%, 100%);
    font-weight: 200;
}

.con-botoes button{
    display: block; 
    margin-bottom: 15px;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    background-color: hsl(0, 0%, 20%);
    border-width: 0px;
    color: hsl(0, 0%, 100%);
    font-family: var(--Inter);
    font-weight: 700;
    transition: color 0.3s ease;
}
.con-botoes button:hover {
    background-color: hsl(75, 94%, 57%); 
    color: hsl(0, 0%, 12%);
}